$brand-blue:#0073CE;
$brand-ight-blue: #00A5F0;
$brand-green-light:#00D7D7;
$brand-yellow:#FFC800;
$brand-gradient:linear-gradient(99.31deg, #00A5F0 7.94%, #00D7D7 95.32%);
$Grey-600:#33303E;
$Grey-500:#4E4B59;
$Grey-400:#5F5C6B;
$Grey-300:#7A7786;
$Grey-200:#C6C5CE;
$Grey-100:#F1F0F5;
$withe:#fff;
